<div class="container-map">
  <div id="map"
       style="width: 100%; height: 100%;"
       data-marker="<%= @marker.to_json %>"
       data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>

<div class="container-card">

  <div class="card">
    <h1><%= @bike.model %></h1>

    <div>
      <ul>
        <li><b>Model </b> <%= @bike.model %></li>
        <li><b>Description</b> <%= @bike.description %></li>
        <li><b>Address</b> <%= @bike.address %></li>
        <li><b>Brand</b> <%= @bike.brand %></li>
        <li><b>Price per day</b> <%= @bike.price %> €</li>
        <li><b>Category</b> <%= @bike.category_id %></li>
        <li><b>Owner</b> <%= @bike.user_id %></li>
      </ul>
    </div>

    <div>
      <% if policy(@bike).update? %>
        <%= link_to "Edit", edit_bike_path(@bike) %>
      <% end %>
      <% if policy(@bike).destroy? %>
        <%= link_to "Delete", bike_path(@bike), method: :delete %>
      <% end %>
      <%= link_to "Back to all bikes", bike_path(@bike), class: "btn-flat" %>
      <%= link_to "Edit", "#", class: "btn-edit" %>
      <%= link_to "Delete", "#", class: "btn-delete" %>
    </div>
  </div>

  <div class="card">
    <h3>Book this bike</h3>
    <%= link_to "BOOK", "#", class: "btn btn-flat" %>
  </div>

</div>

<div id="photo-gallery">
  <h2>Gallery view</h2>
  <% if @bike.photo.attached? %>
    <%= cl_image_tag @bike.photo.key %>
  <% else %>
    <%= image_tag "bike_default.png" %>
  <% end %>
</div>

<div class="reviews-section">
  <h2>Reviews</h2>
  <p>Review section where to check and add reviews.</p>
</div>
