<div class="container-map">
  <div id="map"
       style="width: 100%; height: 100%;"
       data-markers="<%= @marker.to_json %>"
       data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>

<div class="container-card">

  <div class="card">


    <div>

      <ul>
        <li><h1><%= @bike.model %></h1></li>
        <li><b>Model </b> <%= @bike.model %></li>
        <li><b>Description</b> <%= @bike.description %></li>
        <li><b>Address</b> <%= @bike.address %></li>
        <li><b>Brand</b> <%= @bike.brand %></li>
        <li><b>Price per day</b> <%= @bike.price %> €</li>
        <li><b>Category</b> <%= @bike.category_id %></li>
        <li><b>Owner</b> <%= @bike.user_id %></li>
      </ul>
    </div>

    <div>
      <% if policy(@bike).update? %>
        <%= link_to "Edit", edit_bike_path(@bike), class: "btn-edit" %>
      <% end %>
      <% if policy(@bike).destroy? %>
        <%= link_to "Delete", bike_path(@bike), method: :delete, class: "btn-delete" %>
      <% end %>
      <%= link_to "Back to all bikes", bikes_path, class: "btn-flat" %>
    </div>
  </div>

  <div class="card p-3 mr-3">
    <div>
      <h3>Book this bike</h3>
      <%= render './shared/booking-date' %>
    </div>
    <div class="d-flex w-100 justify-content-between">
      <p>Price per day: </p>
      <p><b><%= @bike.price %>€</b></p>
    </div>
    <div class="d-flex w-100 justify-content-between border-bottom">
      <p>Number of days:</p>
      <% if @existing_booking %>
      <p><b><%= @days = (@existing_booking.end_date - @existing_booking.start_date).to_i %></b></p>
    </div>
    <div class="d-flex w-100 pt-4 justify-content-between">
      <p><b>Total price: </b></p>
      <p><b><%= @total_price = @bike.price * @days %>€</b></p>
    </div>
    <% end %>
  </div>

</div>

<div id="photo-gallery">
  <h2>Gallery view</h2>
  <% if @bike.photo.attached? %>
    <%= cl_image_tag @bike.photo.key %>
  <% else %>
    <%= image_tag "bike_default.png" %>
  <% end %>
</div>

<div class="reviews-section">
  <h2>
    See the <%= pluralize @booking.reviews.size, "review" %>
  </h2>
  <p>Review section where to check and add reviews.</p>

  <% if @bike.reviews.blank? %>
    <p>Be the first to leave a review for a booking with <%= @bike.model %>
    advertised on this page.</p>
  <% else %>
    <% @bike.reviews.each do |review| %>
      <p><%= review.rating %></p>
      <p><%= review.content %></p>
    <% end %>
  <% end %>

  <% if @booking.persisted? %>
    <%= simple_form_for([ @booking, @review ]) do |f| %>
      <%= f.input :content, as: :text %>
      <%= f.input :rating, as: :integer %>
      <%= f.button :submit %>
    <% end %>
  <% end %>


</div>
